.titulo {
    color: #999999;
    font-size: 30px;
    padding: 22px;
    padding-bottom: 12px;
}

.subtitulo {
    color: rgb(124, 124, 124);
    font-size: 24px;
    margin-bottom: 10px;
}

.descripcion {
    padding: 15px;
}

/*Da un fondo gris*/
.fondo-gris {
    background-color: #E5E5E5;
}

/*Da un fondo aun más gris*/
.fondo-gris-mas {
    background-color: #D8D8D8;
}

.bnt-twitter-login:before {
    background: url('/Public/imagenes/twitter-logo.png');
    background-repeat: no-repeat;
    background-size: 40px;
    content: '';
    display: inline-block;
    height: 38px;
    position: relative;
    top: 12px;
    width: 42px;
}

.bnt-twitter-login {
    background: #ededed;
    border-radius: 4px;
    color: #1DA1F2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 12px 12px 2px;
}

.bnt-twitter-login:hover {
    text-decoration: none;
}

td{
    color:white;
}


tr {
    color: white;
}


th {
    color: white;
}